@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@300;500;600;700&family=Quicksand:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
}

.container {
  padding: 1rem 8%;
}

body {
  font-family: Lato, sans-serif;
  background: linear-gradient(45deg, #0b75b7 0%, #add4ed 0%);
  height: 100vh;
}

h1,
h2 {
  color: #00078d;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1% 10% 1% 10%;
  padding: 1rem;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.brand h3 {
  color: #00078d;
}

.brand span {
  color: #0097e9;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-left: 20px;
  border-right: gray solid 1px;
  padding-right: 20px;
}

nav ul li:nth-child(3) {
  border-right: none;
}

nav ul li a {
  color: #2b2b2b;
  font-size: 1rem;
}

nav ul li a:hover {
  color: #0097e9;
}

#Book-list {
  text-align: center;
  height: 50vh;
}

#Book-list h1 {
  margin-top: 13%;
  margin-bottom: 0.7rem;
}

.books-container {
  width: 70%;
  margin: 0 auto;
}

.book-holder {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.book-wrapper {
  border-radius: 25px;
  display: flex;
  margin-bottom: 10px;
  background: #3eb2f0;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}

.book-wrapper:nth-child(odd) {
  background: #0366de;
  color: #ffff;
}

#removeBtn {
  background: orange;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#removeBtn:hover {
  background: red;
  color: #fff;
}

.hide {
  display: none;
}

.block {
  display: block;
}

form {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

input {
  padding: 15px 30px;
  border-radius: 10px;
  border: rgb(230, 230, 230) solid 0.5px;
  width: 50%;
}

.add-btn {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 44%;
  background: #0ddc4e;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-holder {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-header {
  margin-bottom: 0.5rem;
}

.contact-text,
.contact-list {
  text-align: center;
  line-height: 1.6rem;
}

footer {
  display: flex;
  gap: 0.2rem;
  color: #b4b4b4;
  align-items: center;
  margin-top: 10%;
  padding: 1rem;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
}
